*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid orange;
}

img {
    max-width: 100%; //避免客戶圖片過大設置
    height: auto; //避免客戶圖片過大設置
    vertical-align: middle; //解決img下方空白
}

a {
    text-decoration: none;
    color:inherit;
}

body {
    font-family: 'Noto Sans TC', sans-serif;    
    font-weight: 400;
    line-height: 1.5;
}

// COLOR
$pink: #FBF2F2;
$red: #AA0601;
$red-darker: #650300;
$black-lighter: #00000029;
$black-lighter2:#00000020;
$gray: #DEE2E6;
$gray-darker: #707070;
$gray-darker-2:#495057;
$gray-lighter:#CED4DA;
$brown-darker:#5F3E2D;
$brown:#B75929;