<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glasses</title>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap" rel="stylesheet">
    <!-- GOOGLE ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="../assets/image/favicon.jpg" type="image/x-icon" />
    <!-- Google Search -->
    <meta name="description" content="看得清，才能看得遠。單一價格、20 分鐘即可取件、安心售後服務、使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。用專業的心，做專業的事。">
    <!-- Open Graph Data -->
    <meta property="og:url" content="https://annchoucode.github.io/Glasses-Web/">
    <meta property="og:title" content="Glasses｜看得清，才能看得遠">
    <meta property="og:description" content="單一價格、20 分鐘即可取件、安心售後服務、使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。用專業的心，做專業的事。">
    <meta property="og:image" content={import.meta.env.BASE_URL + 'assets/image/home-header.png'}>
    <!-- Twitter Card -->
    <meta name="twitter:title" content="Glasses｜看得清，才能看得遠" />
    <meta name="twitter:description" content="單一價格、20 分鐘即可取件、安心售後服務、使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。用專業的心，做專業的事。" />
    <meta name="twitter:image" content="../assets/image/home-header.png"/>
</head>