<ul class="product-nav d-flex f-jcc ff-roboto container ta-center">
    <li><a class="fz-32 fw-medium" href="product-optical.html">OPTICAL</a></li>
    <li><a class="fz-32 fw-medium" href="#">SUNGLASSES</a></li>
    <li><a class="fz-32 fw-medium" href="#">FUNCTIONAL</a></li>
</ul>