<ul class="product-page d-flex f-jcc">
    <li><a class="fz-20 fc-gray-darker" href="#">上一頁</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">1</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">2</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">3</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">4</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">5</a></li>
    <li><a class="fz-20 fc-gray-darker" href="#">下一頁</a></li>
</ul>