// SECTION RECOMMEND
.recommend {
    &-card {
        width: 25%;
        height: 511px;
        box-shadow: 0px 2px 6px $black-lighter;
        border: 1px solid $gray;
        border-radius: 4px;
        overflow: hidden;
    }

    &-photo{
        height: 306px;
        background-size: cover;
        background-position: center;
    }

    &-info {
        padding: 16px;
        height: 205px;
        flex-direction: column; 
    }

    &-text{
        flex-grow: 1;
    }
}

.recommender{
    &-1{
        background-image: url(../image/home-section5-1.png);
    }
    &-2{
        background-image: url(../image/home-section5-2.png);
    }
    &-3{
        background-image: url(../image/home-section5-3.png);
    }
    &-4{
        background-image: url(../image/home-section5-4.png);
    }

}


// RWD
@media (max-width:767.98px) {
    .recommend-content{
        flex-wrap: wrap;
    }

    .recommend-card{
        width: calc(50% - 12px);
    }
}

@media (max-width:575.98px) {
    .recommend{
        padding:40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-card{
            width: 100%;
        }
    }
}