/* SECTIONHEADER===================
============================
============================*/
.header {
    background-image: url(../image/home-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 296px 0;

    .btn-cart {
        padding: 6px 12px;
        display: inline-block;

        &:hover {
            background-color: $red-darker;
        }
    }
}

/* SECTIONINTRO===================
============================
============================*/
.intro {
    &-menu li {
        width: calc(100% / 4);
    }

    .material-icons-outlined {
        font-size: 83px;
        margin-bottom: 24.33px;
    }
}

/* SECTIONPRODUCT CLASSICAL=========
============================
============================*/
.menu-classical li{
    width: calc(100% /3);
}

/* SECTIONPRODUCT JOINT=========
============================
============================*/
.product-joint{
    background-image: url(../image/index-bg.png);
    background-size: cover;

    p{
        padding:8px 0;
    }

    li{
        width: 50%;
    }

}

.menu-img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
}

/* SECTIONRECOMMEND ==============
============================
============================*/
.recommend {
    &-card {
        width: 25%;
        height: 511px;
        box-shadow: 0px 2px 6px $black-lighter;
        border: 1px solid $gray;
        border-radius: 4px;
        overflow: hidden;
    }

    &-photo{
        height: 306px;
        background-size: cover;
        background-position: center;
    }

    &-info {
        padding: 16px;
        height: 205px;
        flex-direction: column; 
    }

    &-text{
        flex-grow: 1;
    }
}

.recommender{
    &-1{
        background-image: url(../image/home-section5-1.png);
    }
    &-2{
        background-image: url(../image/home-section5-2.png);
    }
    &-3{
        background-image: url(../image/home-section5-3.png);
    }
    &-4{
        background-image: url(../image/home-section5-4.png);
    }

}

/* SECTIONCONTACT===================
============================
============================*/
.contact-form {
    flex-direction: column;
    width: 636px;
    margin: 0 auto;

    input,
    textarea {
        padding: 6px 12px;
        border: 1px solid black;
        caret-color: $red; //光標顏色
    }

    textarea {
        height: 136px;
        resize: none; //禁止改變尺寸

        scrollbar-width: none; //Firefox 中隱藏滾動條外框
        -ms-overflow-style: none; //隱藏滾動條外框（IE 和 Edge）

        &::-webkit-scrollbar {
            width: 8px; //滾動條寬度
        }

        &::-webkit-scrollbar-thumb {
            background-color: $red; //滾動條滑塊顏色
            border-radius: 3px;
            -moz-border-radius: 3px; //Firefox 兼容
            -webkit-border-radius: 3px; //Chrome、Safari 兼容
        }

        &::-webkit-scrollbar-track {
            background-color:$pink; //滾動條軌道背景顏色
        }
    }

    .checkbox {
        margin: 0 4px 0 0; //洗去 checkbox default margin
        width: 24px;
        height: 24px;
    }

    .btn-contact {
        padding: 16px 0;

        &:hover {
            background-color: $red-darker;
        }
    }

    input[type=checkbox] {
        cursor: pointer;
        position: relative;
        flex-shrink: 0;

        &:after {
            position: absolute;
            content: " ";
            left: 0;
            top: 0;
            width: 24px;
            height: 24px;
            background-color: $pink;
            border: 1px solid black;
            border-radius: 2px;
        }

        &:checked:after {
            color: white;
            content: "✓";
            width: 24px;
            height: 24px;
            background-color: $red;
            text-align: center;
            font-size: 16px;
            border: none;
        }
    }
}








/* RWD===================
============================
============================*/
@media (max-width: 991.98px) {
    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .menu-classical p{
        font-size: 2rem;
    }
}


@media (max-width:767.98px) {
    /* SECTIONINTRO===============
    ======================*/
    .intro-menu {
        flex-wrap: wrap;

        li {
            width: calc(50% - 12px); /* 設定最大寬度為一半，並減去間距的一半 */
        }
    }

    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .menu-classical{
        flex-direction: column;
        align-items: center;

        li{
            width: 336px;
        }

        p{
            font-size: 48px;
        }
    }

    /* SECTIONPRODUCT JOINT=========
    ======================*/
    .menu-joint{
        flex-direction: column;
        gap:24px; 
        background-image: url(../image/index-bg-md.png);
        
        li{
            width: 100%;
        }
    }

    /* SECTIONRECOMMEND=========
    ======================*/
    .recommend-content{
        flex-wrap: wrap;
    }

    .recommend-card{
        width: calc(50% - 12px);
    }

    /* SECTIONCONTACT=============
    ======================*/
    .contact {
        padding: 80px 0;

        .container {
            padding: 0 96px;
        }

        h3 {
            margin-bottom: 24px;
        }

        &-form {
            width: 100%;

            p {
                font-size: 16px;
            }
        }

        .privacy {
            align-items: start;
        }
    }
}



@media (max-width:575.98px) {
    /*HEADER===============
    ======================*/
    .header{
        height: 396px;
        background-image: url(../image/home-header-sm.png);        
    }

    .header-slogan {
        p {
            font-size: 16px;
        }

        h2 {
            font-size: 24px;
        }
    }

    /* SECTIONINTRO===============
    ======================*/
    .intro {
        padding:40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-menu {
            flex-wrap: wrap;
    
            li {
                width: 100%;
            }
        }
    }

    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .product-classical {
        padding:40px 0;
        
        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .menu-classical li{
        width: 100%;
    }

    /* SECTIONPRODUCT JOINT=========
    ======================*/
    .product-joint {
        padding:40px 0;
        background-image: url(../image/index-bg-sm.png);
        
        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    /* SECTIONRECOMMEND=========
    ======================*/
    .recommend{
        padding:40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-card{
            width: 100%;
        }
    }

    /* SECTIONCONTACT=========
    ======================*/
    .contact {
        padding: 40px 0;

        .container {
            padding: 0 14px;
        }

        h3 {
            font-size: 24px;
        }
    }
}