// INTRO
.intro {
    &-menu li {
        width: calc(100% / 4);
    }

    .material-icons-outlined {
        font-size: 83px;
        margin-bottom: 24.33px;
    }
}

// RWD
@media (max-width:767.98px) {
    .intro-menu {
        flex-wrap: wrap;

        li {
            width: calc(50% - 12px); /* 設定最大寬度為一半，並減去間距的一半 */
        }
    }
}

@media (max-width:575.98px) {
    .intro {
        padding:40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-menu {
            flex-wrap: wrap;
    
            li {
                width: 100%;
            }
        }
    }
}