/* SECTIONHEADER===================
============================
============================*/
.header {
    background-image: url(../image/home-header.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 296px 0;

    .btn-cart {
        padding: 6px 12px;
        display: inline-block;

        &:hover {
            background-color: $red-darker;
        }
    }
}

/* SECTIONINTRO===================
============================
============================*/
.intro {
    &-menu li {
        width: calc(100% / 4);
    }

    .material-icons-outlined {
        font-size: 83px;
        margin-bottom: 24.33px;
    }
}

/* SECTIONPRODUCT CLASSICAL=========
============================
============================*/
.menu-classical li {
    width: calc(100% /3);
}

/* SECTIONPRODUCT JOINT=========
============================
============================*/
.product-joint {
    background-image: url(../image/index-bg.png);
    background-size: cover;

    p {
        padding: 8px 0;
    }

    li {
        width: 50%;
    }

}

.menu-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
}

/* SECTIONRECOMMEND ==============
============================
============================*/
.recommend {
    &-card {
        width: 25%;
        height: 511px;
        box-shadow: 0px 2px 6px $black-lighter;
        border: 1px solid $gray;
        border-radius: 4px;
        overflow: hidden;
    }

    &-photo {
        height: 306px;
        background-size: cover;
        background-position: center;
    }

    &-info {
        padding: 16px;
        height: 205px;
        flex-direction: column;
    }

    &-text {
        flex-grow: 1;
    }
}

.recommender {
    &-1 {
        background-image: url(../image/home-section5-1.png);
    }

    &-2 {
        background-image: url(../image/home-section5-2.png);
    }

    &-3 {
        background-image: url(../image/home-section5-3.png);
    }

    &-4 {
        background-image: url(../image/home-section5-4.png);
    }

}

/* SECTIONCONTACT===================
============================
============================*/
.contact-form {
    flex-direction: column;
    width: 636px;
    margin: 0 auto;

    input,
    textarea {
        padding: 6px 12px;
        border: 1px solid black;
        caret-color: $red; //光標顏色
    }

    textarea {
        height: 136px;
        resize: none; //禁止改變尺寸

        scrollbar-width: none; //Firefox 中隱藏滾動條外框
        -ms-overflow-style: none; //隱藏滾動條外框（IE 和 Edge）

        &::-webkit-scrollbar {
            width: 8px; //滾動條寬度
        }

        &::-webkit-scrollbar-thumb {
            background-color: $red; //滾動條滑塊顏色
            border-radius: 3px;
            -moz-border-radius: 3px; //Firefox 兼容
            -webkit-border-radius: 3px; //Chrome、Safari 兼容
        }

        &::-webkit-scrollbar-track {
            background-color: $pink; //滾動條軌道背景顏色
        }
    }

    .btn-contact {
        padding: 16px 0;

        &:hover {
            background-color: $red-darker;
        }
    }

    .privacy {
        &-content {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
        }

        /* 隱藏預設的 checkbox */
        &-checkbox {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
        }

        /* 當 content 被點選，checkmark改變背景色 */
        // 取代符號代表影響下一個同階層的元素，因此此段為當 content 中的 input 被點擊，因定位關係，視同與 content 同層級，所以也可以視作 content 被點選，input 同層的下一個元素 checkmark 會被改變
        &-content input:checked~.privacy-checkmark {
            background-color: $red;
        }

        /* 當 content 被點選，checkmark:after 改為 block 屬性 */
        &-content input:checked+.privacy-checkmark:after {
            display: block;
        }

        /* 客製 checkmark 樣式 */
        &-checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: $pink;
            border: 1px solid black;
            border-radius: 3px;

            /* 創造勾勾樣式 */
            &:after {
                content: "";
                position: absolute;
                display: none;
                left: 8px;
                top: 5px;
                // 創造一個白邊框框，並旋轉，假裝是勾勾
                width: 7px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}








/* RWD===================
============================
============================*/
@media (max-width: 991.98px) {

    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .menu-classical h4 {
        font-size: 2rem;
    }
}


@media (max-width:767.98px) {

    /* SECTION INTRO===============
    ======================*/
    .intro-menu {
        flex-wrap: wrap;

        li {
            width: calc(50% - 12px);
            /* 設定最大寬度為一半，並減去間距的一半 */
        }
    }

    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .menu-classical {
        flex-direction: column;
        align-items: center;

        li {
            width: 336px;
        }

        p {
            font-size: 48px;
        }
    }

    /* SECTIONPRODUCT JOINT=========
    ======================*/
    .menu-joint {
        flex-direction: column;
        gap: 24px;
        background-image: url(../image/index-bg-md.png);

        li {
            width: 100%;
        }
    }

    /* SECTION RECOMMEND=========
    ======================*/
    .recommend-content {
        flex-wrap: wrap;
    }

    .recommend-card {
        width: calc(50% - 12px);
    }

    /* SECTION CONTACT=============
    ======================*/
    .contact {
        padding: 80px 0;

        .container {
            padding: 0 96px;
        }

        h3 {
            margin-bottom: 24px;
        }

        &-form {
            width: 100%;

            p {
                font-size: 16px;
            }
        }

        .privacy {
            align-items: start;
        }
    }
}



@media (max-width:575.98px) {

    /*HEADER===============
    ======================*/
    .header {
        height: 396px;
        background-image: url(../image/home-header-sm.png);
    }

    .header-slogan {
        p {
            font-size: 16px;
        }

        h2 {
            font-size: 24px;
        }
    }

    /* SECTION INTRO===============
    ======================*/
    .intro {
        padding: 40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-menu {
            flex-wrap: wrap;

            li {
                width: 100%;
            }
        }
    }

    /* SECTIONPRODUCT CLASSICAL=====
    ======================*/
    .product-classical {
        padding: 40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    .menu-classical li {
        width: 100%;
    }

    /* SECTIONPRODUCT JOINT=========
    ======================*/
    .product-joint {
        padding: 40px 0;
        background-image: url(../image/index-bg-sm.png);

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    }

    /* SECTION RECOMMEND=========
    ======================*/
    .recommend {
        padding: 40px 0;

        h3 {
            font-size: 24px;
            margin-bottom: 24px;
        }

        &-card {
            width: 100%;
        }
    }

    /* SECTION CONTACT=========
    ======================*/
    .contact {
        padding: 40px 0;

        .container {
            padding: 0 14px;
        }

        h3 {
            font-size: 24px;
        }
    }
}