<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>

    <body>
        <!-- SECTION NAV -->
        <%- include('./layout/nav'); -%>

            <!-- PRODUCT NAV -->
            <%- include('./layout/product-nav'); -%>

                <!-- PRODUCT SUNGLASSES BANNER-->
                <div class="sunglasses-banner d-flex">
                    <div></div>
                    <div></div>
                </div>

                <!-- PRODUCT SUNGLASSES-->
                <div class="sunglasses container">
                    <h2 class="fz-42 ff-roboto fw-medium ta-center">Celluloid Combi</h2>
                    <h3 class="fz-32 ta-center mb-32">賽璐珞鈦金屬混合鏡框</h3>
                    <ul class="product-content fz-24 ff-roboto d-flex gap-80-24 f-wrap mb-80">
                        <!-- product-card 01-04 -->
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-7.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-8.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-9.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-10.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <!-- product-card 05-08 -->
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-11.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-12.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-7.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                        <li class="product-card">
                            <a href="#">
                                <img src="../assets/image/product-8.png" alt="product">
                                <div class="d-flex f-jcsb"><span>BJ41600S</span><span class="fc-red fw-medium">NTD3,490</span>
                                </div>
                                <ul class="product-color d-flex gap-8">
                                    <li></li>
                                    <li></li>
                                </ul>
                            </a>
                        </li>
                    </ul>
                    <%- include('./layout/product-page'); -%>

                </div>

                <!-- FOOTER -->
                <%- include('./layout/footer'); -%>
                <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
                <script type="module" src="../main.js"></script>
                <script>
                    $(function() {
                      $(".product-page a").click(function() {
                        event.preventDefault(); // 取消點擊連結的預設行為
                        $(".product-page a").removeClass("active"); // 移除所有 a 標籤的 active 類
                        $(this).addClass("active"); // 將被點擊的 a 標籤添加 active 類
                      });
                    });
                  </script>
    </body>

</html>